{% extends "base.html.twig" %}

{% block body %}
    <form action="{{ path("app_mail_create") }}" method="POST">
        <br>
        <h3 align="center"> Please fill the form below to add new mail: </h3>
        <br>
        <div align="center"><label> Mail: <input name="mail" type="text"></label></div><br>
        <div align="center"><label> Description: <input name="description" type="text"></label></div><br>
        <div align="center"><label> Contact: <select name="contact_id">
                    {% for contact in contacts %}
                        <option value="{{ contact.id }}"> {{ contact.name }}</option>
                    {% endfor %}
                                            </select></label></div>
        <div align="center"><input type="submit" value="Add"></div>
    </form>


    <p>
    <form align="center" action="{{ path('app_general_welcome') }}">
        <input type="submit" value="Main Page">
    </form>
    </p>

{% endblock %}