{% extends "base.html.twig" %}

{% block body %}
    <h1 align="center"> </h1>
        <p align="center">{{ mail.mail }} {{ mail.description }}</p>
    <form align="center" action="{{ path('app_mail_delete', {"id":mail.id}) }}" method="POST">
        <input name="_method" type="hidden" value="DELETE">
        <input style="background-color: #C82829" type="submit" value="Delete">
    </form>

    <p>
        <br>
    <form align="center" action="{{ path('app_general_welcome') }}">
        <input style="background-color: cadetblue; font-weight: bold" type="submit" value="Main Page">
    </form>
    </p>
{% endblock %}


