{% extends "::base.html.twig" %}

   {% block title %} ContacApp! {% endblock %}

    {% block stylesheets %} {{ parent() }} {% endblock %}

{% block body %}

    {% block button %}
        <form align="center" action="{{ path('app_contact_showallcontacts') }}"><input type="submit" value="Pokaż wsystkie kontakty"></form>
    {% endblock%}

    {% block head %}
        <p align="center"> Strona główna aplikacji <b>ContactApp</b></p>
    {% endblock %}

    {% block random %}
       <p align="center"> ten blok zwraca pierwszą zawartość przekazaną tablicą czyli string o wartości: " {{ empty }} " </p>
    {% endblock %}

    {% block contacts %}
        <h3 align="center"> Poniżej wyświetlane są wszystki kontakty :</h3>
        {{ include(':contact:show_all_contacts.html.twig') }}
    {% endblock %}

{% endblock %}
